 .u-section-1 {
  background-image: url("images/6744575_3423575copy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-group-1 {
  width: 693px;
  min-height: 462px;
  height: auto;
  margin: 221px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 8.75rem;
  font-weight: 700;
  font-family: "Bebas Neue";
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 20px 0 0 138px;
}

.u-section-1 .u-text-3 {
  margin-left: 138px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 306px;
  height: 306px;
  margin: -168px auto 60px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 306px;
    margin-top: -132px;
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-group-1 {
    width: 464px;
    min-height: 453px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: -130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-1 .u-group-1 {
    width: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 70px;
  }

  .u-section-1 .u-group-2 {
    width: 285px;
    min-height: 285px;
    height: auto;
    margin-top: -43px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-group-1 {
    width: 261px;
    min-height: 311px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 82px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 37px;
    margin-bottom: 37px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.5rem;
  }
} .u-section-2 {
  background-image: url("images/6744663_3423846.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 727px;
}

.u-section-2 .u-group-1 {
  width: 557px;
  min-height: 396px;
  height: auto;
  margin: 252px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 31px;
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-2 .u-text-3 {
  margin-left: 94px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-2 .u-group-1 {
    width: 468px;
    min-height: 401px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 376px;
    margin-bottom: 56px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 44px;
    min-height: 333px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 58px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 58px;
  }
} .u-section-3 {
  background-image: url("images/6744575_34237575.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 727px;
}

.u-section-3 .u-group-1 {
  width: 557px;
  min-height: 515px;
  height: auto;
  margin: 60px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0 94px;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0 94px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-group-1 {
    width: 461px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 403px;
    min-height: 517px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-group-1 {
    min-height: 513px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 31px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 31px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 31px;
  }
} .u-section-4 {
  background-image: url("images/6744657_3423594.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-4 .u-group-1 {
  width: 680px;
  min-height: 281px;
  height: auto;
  margin: 59px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 94px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  height: 335px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "Bebas Neue";
  font-size: 2.25rem;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Bebas Neue";
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  height: 335px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "Bebas Neue";
  font-size: 2.25rem;
}

.u-section-4 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Bebas Neue";
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  height: 335px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "Bebas Neue";
  font-size: 2.25rem;
}

.u-section-4 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Bebas Neue";
}

.u-section-4 .u-btn-2 {
  font-family: "Bebas Neue";
  font-size: 2.25rem;
  background-image: none;
  margin: 29px auto 60px 0;
  padding: 9px 84px 11px 83px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-4 .u-image-1 {
    height: 273px;
  }

  .u-section-4 .u-image-2 {
    height: 273px;
  }

  .u-section-4 .u-image-3 {
    height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-4 .u-group-1 {
    min-height: 251px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 723px;
  }

  .u-section-4 .u-image-1 {
    height: 316px;
  }

  .u-section-4 .u-image-2 {
    height: 316px;
  }

  .u-section-4 .u-image-3 {
    height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2428px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: -14px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1917px;
  }

  .u-section-4 .u-image-1 {
    height: 483px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    height: 483px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    height: 483px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1753px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 286px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 51px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 51px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1271px;
  }

  .u-section-4 .u-image-1 {
    height: 297px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 297px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 297px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-bottom: 52px;
  }
} .u-section-5 {
  background-image: url("images/674467657_3423594.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 727px;
}

.u-section-5 .u-group-1 {
  width: 557px;
  min-height: 411px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 31px;
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-5 .u-text-3 {
  margin-left: 94px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 100% 44.45%;
    background-size: 120%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-5 .u-group-1 {
    width: 463px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-size: auto 120%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-5 .u-group-1 {
    width: 364px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 52.74% 100%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 70px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 70px;
  }
} .u-section-6 {
  background-image: url("images/674454657_3423594.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 856px;
}

.u-section-6 .u-group-1 {
  width: 557px;
  min-height: 334px;
  height: auto;
  margin: 200px 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0 94px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-group-2 {
  width: 306px;
  height: 306px;
  margin: -64px auto 60px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    width: 253px;
    min-height: 252px;
    height: auto;
    margin-top: -126px;
    margin-left: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-6 .u-group-1 {
    width: 411px;
    min-height: 284px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-group-2 {
    margin-top: -202px;
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-6 .u-group-1 {
    width: 359px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -17px;
    margin-bottom: 37px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-6 .u-group-1 {
    width: 291px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 75px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-6 .u-group-2 {
    width: 194px;
    min-height: 189px;
    margin-top: -52px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 3.75rem;
    margin-top: 30px;
  }
} .u-section-7 {
  background-image: url("images/67434657_3423594.jpg");
  background-position: 50% 0%;
}

.u-section-7 .u-sheet-1 {
  min-height: 772px;
}

.u-section-7 .u-group-1 {
  width: 631px;
  min-height: 602px;
  height: auto;
  margin: 110px auto 60px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
  margin: 31px 197px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0 94px;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0 94px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7 .u-group-1 {
    min-height: 457px;
    margin-bottom: 40px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 43px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 43px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 43px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 77.95% 0%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 40px;
    margin-bottom: 9px;
    min-height: 520px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 31px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 31px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 31px;
  }
} .u-section-8 {
  background-image: url("images/6744657_3423594.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 778px;
}

.u-section-8 .u-group-1 {
  width: 680px;
  min-height: 281px;
  height: auto;
  margin: 59px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0 94px;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0 94px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-form-1 {
  height: 414px;
  margin: 0 0 0 582px;
}

.u-section-8 .u-label-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-8 .u-label-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-8 .u-label-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-8 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: none;
  padding: 9px 0 11px;
}

.u-section-8 .u-group-2 {
  width: 219px;
  height: 219px;
  margin: -358px auto 139px 182px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-form-1 {
    margin-left: 382px;
  }

  .u-section-8 .u-group-2 {
    min-height: 219px;
    margin-top: -298px;
    margin-bottom: -68px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-8 .u-group-1 {
    min-height: 233px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-form-1 {
    height: 378px;
    margin-top: 7px;
    margin-left: 162px;
  }

  .u-section-8 .u-group-2 {
    height: auto;
    margin-top: 14px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
    margin-top: 50px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-form-1 {
    margin-left: 0;
  }

  .u-section-8 .u-group-2 {
    width: 214px;
    min-height: 214px;
    margin-top: -9px;
    margin-bottom: 51px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-1 {
    width: 43px;
    height: 43px;
    margin-top: 3px;
    padding: 0;
  }

  .u-section-8 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    min-height: 278px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 41px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 41px;
  }

  .u-section-8 .u-group-2 {
    margin-top: -7px;
    margin-bottom: 48px;
  }
}