 .u-section-1 {
  background-image: url("../images/37db4d9778871b890a9606005a0d2ef7.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 675px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 65.04% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 772px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: -281px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 471px;
  min-height: 403px;
  height: auto;
  margin: -477px auto 0 106px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 40px 63px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 25px 63px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 38px auto 40px 0;
}

.u-section-2 .u-group-2 {
  width: 458px;
  min-height: 532px;
  height: auto;
  margin: -190px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-3 {
  position: relative;
  margin: 20px 15px 0 32px;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 27px 32px 0;
}

.u-section-2 .u-group-3 {
  width: 662px;
  min-height: 194px;
  height: auto;
  margin: -213px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  margin: 10px 0 20px;
}

.u-section-2 .u-shape-1 {
  width: 122px;
  height: 116px;
  margin: -46px 0 32px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-2 .u-group-1 {
    width: 389px;
    margin-top: -515px;
    margin-left: 91px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 14px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 42px;
    margin-right: 26px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-2 .u-group-1 {
    width: 400px;
    min-height: 360px;
    margin-top: -465px;
    margin-left: 99px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
    margin-right: 21px;
    margin-left: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    margin-bottom: 35px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin: 10px 21px 0 404px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 388px;
    min-height: 328px;
    margin-top: -426px;
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 18px;
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 37px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 27px;
    margin-bottom: 18px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 271px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 287px;
    min-height: 308px;
    margin-top: -405px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 24px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin: 20px 10px 22px 125px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 743px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 40px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 728px;
}

.u-section-3 .u-image-1 {
  width: 550px;
  height: 570px;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 550px;
  min-height: 80px;
  height: auto;
  margin: -15px auto 75px 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  margin: 28px 0 28px auto;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 728px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 18px;
}

.u-section-3 .u-text-2 {
  margin: 95px 54px 0 0;
}

.u-section-3 .u-text-3 {
  position: relative;
  margin: 20px 54px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  position: relative;
  margin: 54px 54px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 54px auto 65px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-3 .u-image-1 {
    width: 478px;
    height: 574px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 453px;
    margin-top: 0;
    margin-bottom: 1px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    position: relative;
    margin-top: 56px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 18px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 28px;
    margin-right: 18px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 43px;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 380px;
    margin-top: 197px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 347px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-3 .u-image-1 {
    height: 400px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 326px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 51px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1226px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-3 .u-image-1 {
    width: 319px;
    height: 389px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 273px;
    margin-top: -10px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 706px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 61px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 61px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 743px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 40px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 703px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 18px;
}

.u-section-4 .u-text-1 {
  margin: 70px 54px 0 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  margin: 20px 54px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  position: relative;
  margin: 54px 54px 0 0;
}

.u-section-4 .u-btn-1 {
  margin: 54px auto 70px 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 703px;
}

.u-section-4 .u-image-1 {
  width: 550px;
  height: 570px;
  margin: 13px 0 0;
}

.u-section-4 .u-group-1 {
  width: 550px;
  min-height: 80px;
  height: auto;
  margin: -14px auto 54px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 28px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 688px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 56px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 18px;
    margin-right: 32px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 28px;
    margin-right: 33px;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    margin-bottom: 56px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 688px;
  }

  .u-section-4 .u-image-1 {
    width: 490px;
    height: 607px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 453px;
    margin-top: 0;
    margin-bottom: 1px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    font-size: 1.875rem;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-1 {
    height: 380px;
    margin-top: 197px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 347px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-4 .u-image-1 {
    height: 400px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 326px;
    margin-top: 40px;
    margin-bottom: 57px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-4 .u-image-1 {
    width: 319px;
    height: 389px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 273px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 685px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 738px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 11px;
}

.u-section-5 .u-image-1 {
  width: 550px;
  height: 556px;
  margin: 91px 0 0;
}

.u-section-5 .u-group-1 {
  width: 550px;
  min-height: 81px;
  height: auto;
  margin: -9px auto 20px;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-style: italic;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 154px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 292px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  margin: 19px 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: -38px 43px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 30px 20px 19px 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 292px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 20px;
}

.u-section-5 .u-text-6 {
  font-size: 4.5rem;
  margin: 25px 20px 0 0;
}

.u-section-5 .u-text-7 {
  margin: -38px 43px 0 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 30px 20px 25px 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 292px;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 20px;
}

.u-section-5 .u-text-9 {
  font-size: 4.5rem;
  margin: 19px 20px 0 0;
}

.u-section-5 .u-text-10 {
  margin: -38px 43px 0 0;
}

.u-section-5 .u-text-11 {
  font-style: italic;
  margin: 30px 20px 19px 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 292px;
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding-left: 20px;
}

.u-section-5 .u-text-12 {
  font-size: 4.5rem;
  margin: 19px 20px 0 0;
}

.u-section-5 .u-text-13 {
  margin: -38px 43px 0 0;
}

.u-section-5 .u-text-14 {
  font-style: italic;
  margin: 30px 20px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 869px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-image-1 {
    width: 490px;
    height: 607px;
    margin: 167px -10px 85px;
  }

  .u-section-5 .u-group-1 {
    width: 454px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin: 15px 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-right: 35px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 352px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    margin-right: 35px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 369px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 16px;
  }

  .u-section-5 .u-text-9 {
    position: relative;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-10 {
    position: relative;
    margin-right: 35px;
  }

  .u-section-5 .u-text-11 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 369px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-12 {
    position: relative;
    margin-top: 35px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-13 {
    position: relative;
    margin-right: 35px;
  }

  .u-section-5 .u-text-14 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-5 .u-image-1 {
    width: 590px;
    height: 563px;
    margin: 0 auto;
  }

  .u-section-5 .u-group-1 {
    width: 521px;
    margin-top: 31px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 27px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 27px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 13px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 27px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 27px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    width: 514px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 20px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 9px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 20px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 20px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2032px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-5 .u-image-1 {
    width: 319px;
    height: 389px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    width: 296px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 6px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: url("../images/1950db57ae48d0633f0ce87c383fbd4e.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 687px;
}

.u-section-6 .u-image-1 {
  width: 580px;
  height: 516px;
  margin: 65px 0 0 auto;
}

.u-section-6 .u-group-1 {
  width: 550px;
  min-height: 56px;
  height: auto;
  margin: 25px 0 25px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  position: relative;
  margin: 4px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: 478px;
  }

  .u-section-6 .u-group-1 {
    width: 454px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    width: 366px;
  }

  .u-section-6 .u-group-1 {
    width: 347px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 343px;
  }

  .u-section-6 .u-group-1 {
    width: 326px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 288px;
  }

  .u-section-6 .u-group-1 {
    width: 273px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 432px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-1 {
  width: 242px;
  height: 242px;
  margin: 18px auto 0 62px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  margin: -160px 30px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 94px 30px 18px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 322px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-7 .u-image-2 {
  width: 242px;
  height: 242px;
  margin: 15px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 4.5rem;
  margin: -160px 30px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 78px 30px 15px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 322px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-3 {
  width: 242px;
  height: 242px;
  margin: 15px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 4.5rem;
  margin: -160px 30px 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 78px 30px 15px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-7 .u-image-1 {
    width: 238px;
    height: 258px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: 225px;
    margin-top: -176px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin: 113px 26px 16px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-7 .u-image-2 {
    width: 237px;
    height: 275px;
    margin-top: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -177px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-7 .u-text-4 {
    margin: 103px 19px 13px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-7 .u-image-3 {
    width: 244px;
    height: 275px;
    margin-top: 13px;
    margin-left: 28px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -177px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin: 103px 13px 13px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-7 .u-image-1 {
    width: 293px;
    height: 279px;
    margin-top: 24px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -179px;
  }

  .u-section-7 .u-text-2 {
    margin-bottom: 24px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-7 .u-image-2 {
    width: 309px;
    height: 279px;
    margin-top: 24px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -198px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-7 .u-text-4 {
    margin: 132px 31px 24px;
  }

  .u-section-7 .u-image-3 {
    width: 279px;
    height: 271px;
    margin-left: auto;
  }

  .u-section-7 .u-text-5 {
    margin-top: -173px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 282px;
    height: 294px;
    margin-top: 7px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -199px;
  }

  .u-section-7 .u-text-2 {
    width: 322px;
    margin: 114px auto 7px;
  }

  .u-section-7 .u-image-2 {
    width: 291px;
    height: 273px;
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 33px;
  }

  .u-section-7 .u-image-3 {
    width: 307px;
    height: 273px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -183px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 107px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 261px;
    height: 282px;
    margin-top: 10px;
    margin-left: 40px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -180px;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-7 .u-text-2 {
    margin: 102px 9px 10px;
  }

  .u-section-7 .u-image-2 {
    width: 260px;
    height: 290px;
    margin-top: 28px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -184px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 28px;
  }

  .u-section-7 .u-image-3 {
    width: 260px;
    height: 292px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -203px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 697px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-1 {
  background-image: url("../images/25e0f24cbd4f402b40ff17617615378f.jpeg");
  background-position: 50% 50%;
  min-height: 697px;
}

.u-section-8 .u-image-2 {
  background-image: url("../images/8a23ed48e15dbde61b8e5e6e4fe148d8.jpeg");
  background-position: 50% 50%;
  min-height: 697px;
}

.u-section-8 .u-image-3 {
  width: 405px;
  height: 376px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 1;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.1;
  margin: 175px auto 0 -199px;
}

.u-section-8 .u-group-1 {
  width: 264px;
  min-height: 227px;
  height: auto;
  margin: -315px auto 70px -132px;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  position: relative;
  margin: 25px 20px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 25px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    width: 334px;
    margin-left: -164px;
  }

  .u-section-8 .u-group-1 {
    width: 243px;
    min-height: 247px;
    margin-top: -311px;
    margin-bottom: 211px;
    margin-left: -118px;
    height: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-3 {
    width: 356px;
    height: 360px;
    margin-top: 338px;
    margin-left: -168px;
  }

  .u-section-8 .u-group-1 {
    width: 258px;
    margin-top: -317px;
    margin-bottom: 70px;
    margin-left: -129px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-2 {
    min-height: 733px;
  }

  .u-section-8 .u-image-3 {
    width: 357px;
    height: 488px;
    margin-top: -213px;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 282px;
    min-height: 283px;
    margin-top: -400px;
    margin-left: auto;
    margin-bottom: 576px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 29px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-icon-1 {
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-2 {
    min-height: 742px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 390px;
    margin-top: -292px;
  }

  .u-section-8 .u-group-1 {
    width: 249px;
    min-height: 227px;
    margin-top: -325px;
    margin-bottom: 742px;
    margin-left: 95px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 25px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-icon-1 {
    margin-bottom: 25px;
  }
} .u-section-9 {
  background-image: linear-gradient(45deg, #2b253c, #648ceb);
}

.u-section-9 .u-sheet-1 {
  min-height: 22px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 45px;
  }
}