 .u-section-1 {
  background-image: url("../images/pexels-photo-450214.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-text-1 {
  margin: 65px 449px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 30px 510px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 249px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.49% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px 0 35px;
}

.u-section-2 .u-image-1 {
  min-height: 590px;
  background-image: url("../images/pexels-oladimeji-ajegbile-3466163.jpg");
  background-position: 50% 38.49%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 610px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 111px;
  height: 111px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 150px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 10px 150px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-image-1 {
    min-height: 372px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-2 .u-image-1 {
    min-height: 644px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-2 .u-image-1 {
    min-height: 405px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1820px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 987px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 1596px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-13 {
  height: 100%;
}

.u-section-3 .u-icon-14 {
  height: 100%;
}

.u-section-3 .u-icon-15 {
  height: 100%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-14 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-16 {
  height: 100%;
}

.u-section-3 .u-icon-17 {
  height: 100%;
}

.u-section-3 .u-icon-18 {
  height: 100%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-16 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-19 {
  height: 100%;
}

.u-section-3 .u-icon-20 {
  height: 100%;
}

.u-section-3 .u-icon-21 {
  height: 100%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-18 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-22 {
  height: 100%;
}

.u-section-3 .u-icon-23 {
  height: 100%;
}

.u-section-3 .u-icon-24 {
  height: 100%;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-20 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-9 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-25 {
  height: 100%;
}

.u-section-3 .u-icon-26 {
  height: 100%;
}

.u-section-3 .u-icon-27 {
  height: 100%;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-22 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-10 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-28 {
  height: 100%;
}

.u-section-3 .u-icon-29 {
  height: 100%;
}

.u-section-3 .u-icon-30 {
  height: 100%;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-23 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-24 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-11 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-31 {
  height: 100%;
}

.u-section-3 .u-icon-32 {
  height: 100%;
}

.u-section-3 .u-icon-33 {
  height: 100%;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-12 {
  height: 210px;
  width: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-25 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-text-26 {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-12 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-icon-34 {
  height: 100%;
}

.u-section-3 .u-icon-35 {
  height: 100%;
}

.u-section-3 .u-icon-36 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 787px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1316px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-2 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-3 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-4 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-5 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-6 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-7 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-8 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-9 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-10 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-11 {
    width: 77px;
  }

  .u-section-3 .u-social-icons-12 {
    width: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 567px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 2268px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 387px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-right: 187px;
  }
}

.u-section-3 .u-image-9,
.u-section-3 .u-image-9:before,
.u-section-3 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-9.u-image-9.u-image-9:hover {
  transform: translateX(px) translateY(-100px) scale(1) rotate(0deg) !important;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-9 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-9.u-image-9.u-image-9.hover {
  transform: translateX(px) translateY(-100px) scale(1) rotate(0deg) !important;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-9 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-8,
.u-section-3 .u-image-8:before,
.u-section-3 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-8.u-image-8.u-image-8:hover {
  transform: translateX(px) translateY(-100px) scale(1) rotate(0deg) !important;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-8 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-8.u-image-8.u-image-8.hover {
  transform: translateX(px) translateY(-100px) scale(1) rotate(0deg) !important;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-8 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-7,
.u-section-3 .u-image-7:before,
.u-section-3 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-7.u-image-7.u-image-7:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.51) rotate(0deg) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-7 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-7.u-image-7.u-image-7.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.51) rotate(0deg) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-7 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-4 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-4 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before,
.u-section-3 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-5.u-image-5.u-image-5:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-5 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-5.u-image-5.u-image-5.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-5 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-6,
.u-section-3 .u-image-6:before,
.u-section-3 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-6.u-image-6.u-image-6:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-6 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-6.u-image-6.u-image-6.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-6 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-10,
.u-section-3 .u-image-10:before,
.u-section-3 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-10.u-image-10.u-image-10:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-10 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-10.u-image-10.u-image-10.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-10 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-11,
.u-section-3 .u-image-11:before,
.u-section-3 .u-image-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-11.u-image-11.u-image-11:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-11 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-11.u-image-11.u-image-11.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-11 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-12,
.u-section-3 .u-image-12:before,
.u-section-3 .u-image-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-12.u-image-12.u-image-12:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-12 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-image-12.u-image-12.u-image-12.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: rotate(0deg) translateX(px) translateY(-100px) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-3 .u-image-12 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-3 .u-container-layout:hover .u-image-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 401px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 423px;
}

.u-section-5 .u-text-1 {
  margin-top: 60px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: -307px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 234px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 10px 20px 20px;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 17px auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 10px 20px 20px;
}

.u-section-5 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 17px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 10px 20px 20px;
}

.u-section-5 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -247px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 455px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -187px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -127px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
  }
}